@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Pogrupowane materiały";
}

<h1>Pogrupowane materiały</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a class="btn btn-secondary" href="/Product/GroupDetail?name=@item.Name">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
